.header {
    background-color: var(--c-first);
    max-width: 100%;
    display: flex;
    border-bottom: 2px solid var(--c-second);
    justify-content: space-around;

    .header_logo_title {
        display: flex;
        padding: 2em;
        align-items: center;
        font-size: larger;
        text-align: center;
        font-weight: 600;
        font-size: 1.8em;
        color: var(--c-second);
    }

    .header_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
            height: 3em;
            background-color: var(--c-second);
            color: var(--c-dark);
        }
    }

}