.header {
    width: 100%;
}

.mainContent {
    display: flex;
    min-height: 70em;
}


.mainContent_left {
    padding-top: 5em;
    min-width: 20%;
    background-color: var(--c-background);
    display: flex;
    flex-direction: column;

    div {
        margin: 1em;
        display: flex;
        flex-direction: column;
    }

    .mainContent_left_title {
        font-size: 1.5em;
        text-align: center;
        border-bottom: 2px solid var(--c-second);
    }

    .mainContent_left_orders p {
        font-weight: bold;

        a {
            font-weight: 500;
        }
    }

}

.mainContent_right {
    display: flex;
    flex-direction: column;
    background-color: var(--c-background);
    min-width: 80%;

    h2 {
        margin: 0px auto;
    }

    div.pagination {
        margin-top: 3em;
        padding-bottom: 2em;
        padding-right: 2em;
        display: flex;
        justify-content: flex-end;
    }

    .mainContent_cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .card {
            margin: 2em;
            padding: 0.5em;
            min-height: 39em;
            min-width: 20em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 8px;
            background-color: #fff;
            transition: box-shadow 0.3s ease-in-out;
        }

        .card-btn {
            background-color: var(--c-second);
            border: none;
            color: var(--c-dark);
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .card-btn:hover {
            background-color: #4D7798;
        }

        .card-p-hidden {
            display: none;
        }
    }
}

.noGameH2 {
    padding-top: 10em;
    color: red;
}

/* JQUERYUI STUFF */
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


#dialog {
    display: none;

}

.dialogText {
    display: none;
}

.carousel {
    height: 300px;
    width: 700px;
    margin: 2em auto;
}

.empty-stock-card {
    background-color: grey;
}

/* ///////////////////////////////////////////////////////////////////// */
/* MODO OSCURO */
/* ///////////////////////////////////////////////////////////////////// */

.dark-mode .mainContent_left {
    background-color: var(--c-background-dark);
}

.dark-mode .mainContent_right {
    background-color: var(--c-background-dark);
}

.dark-mode .card {
    background-color: var(--c-background-dark);
}

.dark-mode .card-btn {
    background-color: var(--c-second-dark);
    color: var(--c-dark-dark);
}

.dark-mode .card-btn:hover {
    background-color: #4D7798;
}