.mainContent {
    display: flex;
}


.mainContent_left {
    min-width: 20%;
    background-color: var(--c-background);
    display: flex;
    flex-direction: column;

    div {
        margin: 1em;
    }

    .mainContent_left_title {
        font-size: 1.5em;
        text-align: center;
        border-bottom: 2px solid var(--c-second);
    }

    .mainContent_left_orders p {
        font-weight: bold;

        a {
            font-weight: 500;
        }
    }

}

.mainContent_right {
    display: flex;
    flex-direction: column;
    background-color: var(--c-background);
    min-width: 80%;

    h2 {
        margin: 0px auto;
    }

    div.pagination {
        padding-bottom: 2em;
        padding-right: 2em;
        display: flex;
        justify-content: flex-end;
    }

    .mainContent_cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .card {
            margin: 2em;
            padding: 0.5em;
            min-height: 40em;

            .card-btn {
                background-color: var(--c-second);
                border: 1px solid var(--c-second);
                color: var(--c-dark);
            }

            .card-p-hidden {
                display: none;
            }
        }
    }
}

/* JQUERYUI STUFF */
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

/* .ui-slider-range .ui-corner-all .ui-widget-header {
    left: -5.4%;
    width: 100%;

} */