.header {
    width: 100%;
}

.mainContent {
    display: flex;
}


.mainContent_left {
    min-width: 30%;
    background-color: var(--c-background);
    display: flex;
    flex-direction: column;

    div {
        margin: 1em;
        display: flex;
        flex-direction: column;
    }

    .mainContent_left_title {
        font-size: 1.5em;
        text-align: center;
        border-bottom: 2px solid var(--c-second);
    }

    .mainContent_left_orders p {
        font-weight: bold;

        a {
            font-weight: 500;
        }
    }

}

.mainContent_right {
    display: flex;
    flex-direction: column;
    background-color: var(--c-background);
    min-width: 70%;

    h2 {
        margin: 0px auto;
    }

    div.pagination {
        margin-top: 3em;
        padding-bottom: 2em;
        padding-right: 2em;
        display: flex;
        justify-content: flex-end;
    }

    .mainContent_cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .card {
            margin: 2em;
            padding: 0.5em;
            min-height: 30em;
            min-width: 20em;

            .card-btn {
                background-color: var(--c-second);
                border: 1px solid var(--c-second);
                color: var(--c-dark);
            }

            .card-p-hidden {
                display: none;
            }
        }
    }
}

.noGameH2 {
    padding-top: 10em;
    color: red;
}

/* JQUERYUI STUFF */
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


#dialog {
    display: none;

    .dialog-content {}
}

.ui-dialog-titlebar {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
}