<footer class="bg-dark text-white py-4">
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        <div class="row">
            <div class="col-md-7">
                <img class="header_logo" src="./assets/logo.png" alt="">
            </div>
            <div class="col-md-5">
                <h5>Contacto</h5>
                <address>
                    <strong>HobbitStore</strong><br>
                    Calle Cuevasanta, 77<br>
                    Segorbe, España<br>
                    <abbr title="Teléfono">Tel:</abbr> +34 698 784 443
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 HobbitStore. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>